table.nested {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
th.nested,
td.nested {
  text-align: left;
  vertical-align: middle;
  padding: 8px;
  border: 1px solid #dddddd;
}
th.nested {
  background-color: #f2f2f2;
}
.text-end {
  text-align: right;
}
